@import "./uswds/module";

.profile {
    &__photo-container {
        margin: 0 22%;
    }

    &__biography-container {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: center;
        }
    }

    @include at-media(tablet) {
        &__photo-container {
            margin: 0;
        }

        &__biography-container {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                text-align: inherit;
            }
        }
    }
}
